* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-container {
  background-color: #323643;
  width: 100%;
  position: sticky;
  text-align: center;
  padding-top: 10px;

  & a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    font-weight: bolder;

    &:hover {
      color: #9ee0fc;
    }
  }
}

.date-container {
  background-color: #606470;
  padding: 20px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

body {
  background-color: #aae6ff;
  overflow: auto;
}

.body-container {
  display: flex;
  margin: 0 16%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #aae6ff;

  & .header-two {
    padding: 5px 15px;
    margin-top: 20px;
    background-color: #f7f7f7;
  }
}

.border-a {
  border: solid #f7f7f7 1px;
  border-radius: 8px;
}

.weather-container {
  background-color: #c7edff;
  padding: 20px;
  width: 250px;
  overflow: auto;

  
  .searchbar-container {
    input {
      &[type=text] {
        padding: 0.3em;
        border: none;

        &:invalid {
          outline: 1px solid red;
        }

        &:focus {
          outline: none;
        }
      }

      &[type=button] {
        padding: 0.3em;
        background-color: white;
        border: none;

        &:hover {
          background-color: rgb(221, 221, 221);
        }
      }
    }
  }

  & > .condition-label {
    padding-bottom: 6px;
  }
}

.forecast-container {
  background-color: #c7edff;
  padding: 20px;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  clear: both;
  position: relative;
  bottom: 0;
  background-color: #323643;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin-top: 100px;
}

